@font-face {
   font-family: 'Rocher';
   src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Zeyada&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Mynerve', cursive;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;

}

body {
   color: white;
   overflow-x: hidden;
   background-image: url(images/background10.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}


#header {
   width: 100%;
   height: 100vh;
}

nav {
   width: 100%;
   height: 10%;
   display: flex;
   padding: 10px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   position: fixed;
   z-index: 5;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.nav-container-logo {
   flex-basis: 20%;
   display: flex;
   align-items: center;
   justify-content: center;

}

.nav-container-logo h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Rocher';
   font-size: 35px;
}

.nav-container-logo li {
   list-style: none;
}

.nav-container-logo img {

   width: 50px;
   height: 50px;

}

.nav-container-left {
   flex-basis: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-container-right {
   flex-basis: 20%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}


.nav-container-right ul {
   width: 100px;
   height: 50px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   transition: 0.7s ease-in;

}

.nav-container-right ul li a p {
   color: black;
   font-size: 20px;
}

.nav-container-left ul li a:hover {
   color: white;
}

.nav-container-right ul:hover {
   background: white;
   border: none;

}


nav ul li a {
   text-decoration: none;
}


.nav-container-left ul li {
   display: flex;
   display: inline-block;
   list-style: none;
   margin: 10px 18px;
}

.nav-container-right ul li {
   display: flex;
   display: inline-block;
   list-style: none;
   margin: 10px 10px;
}

.nav-container-left ul li a {
   transition: 0.7s ease-out;
}

nav ul li a {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

.head-holder {
   width: 100%;
   height: 800px;
   display: flex;
}

.small-gap {
   flex-basis: 5%;
   height: 100%;
   width: 100%;
}

.left-holder {
   flex-basis: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.left-sub-holder {
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
}

.left-sub-holder h1 {
   font-family: 'Rocher';
   font-size: 100px;
}

.left-sub-holder p {
   font-size: 15px;
   align-self: flex-start;
   position: relative;
   bottom: 15px;
   left: 10px;
}

.pola-holder {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 5px;
}


.pola {
   height: 200px;
   width: 200px;
}

.pola img {
   height: 200px;
   width: 200px;
   border-radius: 5px;
   box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.pola-1 {
   height: 250px;
   width: 200px;
}

.pola-1 img {
   height: 250px;
   width: 200px;
   box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.pola-2 {
   box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.right-holder {
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}



.right-holder img {
   width: 600px;
   height: 600px;
}

.imgScroll-holder {
   height: 600px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.imgScroll {
   left: 0;
   height: 400px;
   pad: 60px 0;
   width: 100%;
   display: flex;
   overflow-x: hidden;
   justify-content: center;
   align-items: center;
}

.imgScroll div {
   display: flex;
   animation: animate 40s linear infinite;
   animation-delay: -40s;
   border-radius: 20px;
}

.imgScroll div:nth-child(2) {
   animation: animate2 40s linear infinite;
   animation-delay: -20s;
}

@keyframes animate {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-100%);
   }
}

.imgScroll:hover div,
.imgScroll:hover div:nth-child(2) {
   animation-play-state: paused;
}

@keyframes animate2 {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-200%);
   }
}

.imgScroll div img {
   margin: 0 25px;
   width: 300px;
   height: 400px;
   transition: 0.25s;
   border-radius: 20px;
}

.imgScroll div img:hover {
   box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px, rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.imgScroll:hover div img {
   opacity: 0.05;
}

.imgScroll div img:hover {
   opacity: 1;
}


/* @keyframes change {
   0% {
      background-image: url(images/background3.jpg);
   }

   25% {
      background-image: url(images/background8.jpg);
   }

   50% {
      background-image: url(images/background4.jpg);
   }

   75% {
      background-image: url(images/background5.png);
   }

   100% {
      background-image: url(images/recomendpage.jpg);
   }
} */

/* ----------------------------------------top------------------------------------------- */

.container-top {
   display: flex;
   margin: 20px;
   margin-top: 50px;
}

.topImg-left {
   flex-basis: 30%;
   display: flex;
   justify-content: center;
   align-items: first baseline;
}

.topImg-left img {
   width: 400px;
   height: 300px;
   border-radius: 20px;
   transform: rotate(-20deg);
   box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
   z-index: 2;
}

.topImg-right {
   flex-basis: 30%;
   display: flex;
   justify-content: center;
   align-items: last baseline;
}

.topImg-right img {
   width: 400px;
   height: 300px;
   border-radius: 20px;
   transform: rotate(20deg);
   z-index: 2;
   box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.topTxt {
   flex-basis: 40%;
   width: 100%;
   height: 400px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   border-radius: 15px;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;

}

.topTxtin {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   margin: 30px;
}

.movies-list {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.movie {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 275px;
   height: 400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.movie:hover {
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.35);
   backdrop-filter: blur(15px);
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.movie img {
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 60%;
   height: 100%;
   width: 90%;
   overflow: hidden;
   border-radius: 50%;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.layer {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.layer h2 {
   font-family: cursive;
   font-size: medium;
   text-align: center;
   margin: 5px;

}

.box-card {
   transform: translateY(50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
   transition-delay: .3s;
}


.box-card.show {
   transform: translateY(0px);
   opacity: 1;
}

/* -------------------------------recommendations--------------------------------------- */

.row-1 {
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.fancy-head {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 550px;
   width: 100%;
}

.card-below {
   width: 400px;
   height: 400px;
   position: absolute;
   background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
   border-radius: 20px;
}

.card-middle {
   width: 400px;
   height: 400px;
   position: absolute;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
   transform: rotate(10deg);
   border-radius: 20px;
}

.card-above-all {
   position: absolute;
   width: 500px;
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: white;
}


.card-above {
   width: 400px;
   height: 400px;
   position: absolute;
   transform: rotate(-18deg);
   border-radius: 20px;
   background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.form form {
   width: 1200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.form-control {
   width: 100%;
   color: white;
   height: 50px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 300;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);

}

.form-control::placeholder {
   color: white;
   font-size: large;
   font-weight: 200;
   font-size: 20px;
   text-align: center;
}

.button {
   align-self: flex-start;
   text-decoration: none;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   height: 50px;
   font-size: 20px;
   color: white;
   width: 20%;
}

.container-recom {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 500px;
}


.recomTxt img {
   height: 135px;
   width: 135px;
   border-radius: 50%;
   transition: .5s ease-in-out;
}

.emoji1 {
   transform: rotate(20deg);
}

.emoji2 {
   transform: rotate(-20deg);
}

.emoji3 {
   transform: translate(10px, 10px);
}

.emoji4 {
   transform: translate(-10px, -10px);
}

.recomTxt {
   flex-basis: 40%;
   width: 600px;
   height: 400px;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   transition: 1s ease-in-out;
}

.recomTxt:hover .emoji1 {
   transform: rotate(-20deg);
}

.recomTxt:hover .emoji2 {
   transform: rotate(20deg);
}

.recomTxt:hover .emoji3 {
   transform: translate(-10px, -10px);
}

.recomTxt:hover .emoji4 {
   transform: translate(10px, 10px);
}

.emojis-up {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.recomTxtin {
   flex-basis: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}

.emojis-down {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.recommends {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.class-box {
   position: relative;
   width: 235px;
   height: 235px;
   overflow: hidden;
   transition: 0.5s;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.class-box:hover {
   z-index: 1;
   transform: scale(1.25);
   box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.image-box {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

}

.image-box img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.image-box::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, #8e1224);
   mix-blend-mode: multiply;
   opacity: 0;
   transition: 0.5s;

}

.class-box:hover .image-box::before {
   opacity: 1;
}

.class-box .content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   display: flex;
   padding: 20px;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.content h2 {
   color: white;
   transition: 0.5s;
   text-transform: uppercase;
   font-size: 20px;
   text-align: center;
   transform: translateY(200px);
}

.class-box:hover .content h2 {
   transform: translateY(0);
   transition-delay: 0.5s;
}

.content i {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   transition: 0.7s;
   font-size: 25px;
   transform: translateY(200px);
}


.class-box:hover .content i {
   transform: translateY(0);
   transition-delay: 0.5s;
}

.content a {
   text-decoration: none;
}

.content a:hover i {
   color: yellow;
}

.cat-card-holder {
   display: flex;
   width: 100%;
   height: 600px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.left-card {
   align-self: last baseline;
   flex-basis: 70%;
   height: 400px;
   position: relative;
   z-index: 1;
   left: 50px;
   transform: translate(-100px, 50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.left-card.show {
   transform: translate(0px);
   opacity: 1;
}

.left-card img {
   width: 100%;
   height: 100%;
   border-radius: 16px;
}

.right-card {
   flex-basis: 70%;
   display: flex;
   height: 400px;
   align-self: first baseline;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   position: relative;
   right: 50px;
   transform: translate(100px, 50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.right-card.show {
   transform: translate(0px);
   opacity: 1;
}

.right-card-left {
   flex-basis: 50%;
}

.right-card-left img {
   height: 100%;
   width: 100%;
}

.right-card-right {
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   margin: 20px;
   flex-direction: column;
   gap: 20px;
}

.right-card-right h1 {
   font-size: 45px;

}

/* ----------------------------blog-------------------------------------- */

#blog {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.torn-effect-holder {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.torn-effect {
   height: 800px;
   width: 800px;
   flex-basis: 60%;
   display: flex;
   justify-content: center;
   align-items: center;

}


.ins {
   width: 800px;
   height: 610px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   border-radius: 20px;
}

.torn-effect .torn-down {

   height: 625px;
   width: 600px;
   position: relative;
   mix-blend-mode: lighten;
}

.torn-effect .torn-up {
   height: 1000px;
   width: 1000px;
   position: absolute;
}


.torn-txt {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 30px;
   gap: 10px;

}


.torn-txt h1 {
   background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
   background-clip: text;
   font-size: 50px;
   text-align: center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: -5px -5px;
   transform: translateY(50px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;

}

.torn-txt h1.show {
   transform: translateY(0px);
   opacity: 1;
}

.torn-txt p {
   text-align: center;
   font-size: 20px;
   transform: translateY(50px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
}

.torn-txt p.show {
   transform: translateY(0px);
   opacity: 1;
}

.blog-card-holder {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 15px;
}

.blog-struct {
   width: 280px;
   height: 450px;
   border-radius: 16px;
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.blog-card {
   width: 280px;
   height: 450px;
   position: absolute;
   display: flex;
   flex-direction: column;
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   backdrop-filter: blur(15px);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.blog-card p {
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
   font-size: 15px;
}

.card-up {
   flex-basis: 20%;
   height: 100%;
   width: 100%;
}

.card-down {
   flex-basis: 80%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 10px;
   height: 100%;
   width: 100%;
   color: white;
   justify-content: center;
   align-items: center;
}

.card-down h2 {
   font-size: 20px;
   color: black;
}

.down1 {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5px;
   text-align: center;
}

.down2 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   flex-wrap: wrap;
   text-align: center;
}

.card-down a {
   text-decoration: none;
   color: black;
}

.card-down button {
   width: 150px;
   height: 45px;
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   cursor: pointer;
   transition: 0.5s ease-in-out;
}

.card-down button:hover {
   color: white;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.blog-struct img {
   position: absolute;
   width: 280px;
   height: 450px;
   transition: 0.85s ease-in-out;
   border-radius: 16px;
}


.blog-struct:hover img {
   transform: scale(0.8, 0.5) translateY(-425px);
   border-radius: 50%;
}

.altLeft {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 500px;
}

.altLeft-member {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 300px;
}

.altUp {
   background-image: url(images/rengoku.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: 10px;
}

.altUp-other {
   background-image: url(images/Satoru.webp);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: 3px;
}

.altUp h1 {
   font-size: 400px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.altUp-other h1 {
   font-size: 260px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.altUp-member {
   background-image: url(images/csmmm.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: 3px;
}

.altUp-member h1 {
   font-size: 280px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ---------------------------------------------about------------------------------------------------------------ */
#about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}

.aboutOne {
   display: flex;
   height: 800px;
   width: 97%;
   background: rgba(0, 0, 0, 0.30);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.myimg {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: first baseline;
   justify-content: right;
}

.myimg img {
   position: absolute;
   width: 900px;
   height: 700px;
}

.mydetails {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
}

.detailsTxt {
   flex-basis: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dteailstxttxt {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 400px;
   height: 400px;
   flex-direction: column;
}


.dteailstxttxt h2 {
   font-size: 45px;
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.dteailstxttxt p {
   font-size: 22px;
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.socialmedia {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;
   height: 100px;
   gap: 10px;
}

.socialmedia img {
   width: 50px;
   height: 50px;
   background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
   border-radius: 50%;
   transition: 0.5s ease-in-out;
}

.socialmedia img:hover {
   transform: scale(1.1);
}

.rightOne {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.rightSpace {
   flex-basis: 60%;
}

.rightOnetxt {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 40%;
   width: 100%;
   height: 100%;
   background-color: #232323;
   border-radius: 16px;
}

.rightOnetxttxt {
   width: 600px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}

.rightOnetxt h1 {
   font-size: 50px;
   font-family: 'Rocher';
   color: white;
}

.rightOnetxt p {
   font-size: 22px;
   color: white;
}

.rightOnetxt {
   transform: translateY(50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}


.rightOnetxt.show {
   transform: translateY(0px);
   opacity: 1;
}

.dteailstxttxt {
   transform: translateY(50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}


.dteailstxttxt.show {
   transform: translateY(0px);
   opacity: 1;
}

.portfolio {
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: flex-start;
   justify-self: flex-start;
   background: gold;
   transition: 0.5s ease-in-out;
}

.portfolio:hover {
   transform: translateX(50px);
}

.aboutTwo {
   display: flex;
   width: 100%;
   height: 700px;
}

.twoLeft {
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.twoleftImg {
   width: 500px;
   height: 450px;
   transform: translateX(-100px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
}

.twoleftImg img {
   width: 500px;
   height: 450px;
}

.twoleftImg.show {
   transform: translateX(0px);
   opacity: 1;
}

.twoleftTxt {
   width: 400px;
   height: 250px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: flex-start;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   transform: translateY(50px);
   opacity: 0;
}

.twoleftTxt.show {
   transform: translateY(0px);
   opacity: 1;
}


.viewnowbtn {
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   transition: 0.5s ease-in-out;
}

.viewnowbtn:hover {
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.10);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.twoRight {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.tworightSmall {
   flex-basis: 20%;
   width: 250px;
   height: 250px;
   transform: translateY(100px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
}

.tworightSmall.show {
   transform: translateY(0px);
   opacity: 1;
}

.tworightSmall h2 {
   font-size: medium;
}

.tworightSmall h1 {
   font-size: larger;
}

.tworightlarge {
   flex-basis: 20%;
   width: 100%;
   transform: translateY(50px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
}

.tworightlarge.show {
   transform: translateY(0px);
   opacity: 1;
}

.tworightlarge h1 {
   font-family: 'Rocher';
   font-size: 80px;
}

.tworightImg {
   flex-basis: 60%;
   width: 450px;
   transform: translateX(100px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.tworightImg.show {
   transform: translateX(0px);
   opacity: 1;
}

.img1 {
   position: absolute;
   width: 450px;
   height: 300px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}

.img1 img {
   width: 200px;
   height: 200px;
   z-index: 1;
   transform: translateX(-30px)
}

.img2 {
   position: absolute;
   width: 450px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img2 img {
   width: 200px;
   height: 200px;
   transform: translate(10px, 80px);
}

.circlerightnone {
   position: absolute;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 2px solid gold;
   transform: translate(-200px, 70px);
   z-index: 2;
}

.aboutThree {
   display: flex;
   height: 625px;
   width: 100%;
}

.threeOne {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   transform: translateX(-100px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.threeOne.show {
   transform: translateX(0px);
   opacity: 1;
}

.threeOne img {
   position: absolute;
   width: 500px;
   height: 615px;
}

.oneTrans {
   position: absolute;
   width: 500px;
   height: 615px;

}

.oneTrans img {
   width: 500px;
   height: 615px;
}

.threeTwo {
   flex-basis: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.twoUp {
   flex-basis: 50%;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateX(100px);
   opacity: 0;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
}

.twoUp.show {
   transform: translateX(0px);
   opacity: 1;
}

.twoUp img {
   position: absolute;
   height: 300px;
   width: 300px;
}

.twoUptrans {
   position: absolute;
   height: 300px;
   width: 300px;
}

.twoUptrans img {
   width: 300px;
   width: 300px;
}


.twoDown {
   flex-basis: 50%;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(50px);
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.twoDown.show {
   transform: translateY(0px);
   opacity: 1;
}


.twoDown img {
   position: absolute;
   height: 300px;
   width: 300px;
}

.twoDowntrans {
   position: absolute;
   height: 300px;
   width: 300px;
}

.twoDowntrans img {
   width: 300px;
   height: 300px;
}


.threeThree {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.threeTxt {
   width: 80%;
   transform: translateY(50px);
   transition-delay: .5s;
   transition: opacity 500ms ease-in, transform 650ms ease-in;
   opacity: 0;
}

.threeTxt.show {
   transform: translateY(0px);
   opacity: 1;
}

.threeTxt h1 {
   font-family: 'Rocher';
   font-size: 50px;
}

.threeTxt p {
   font-size: 23px;
   color: white;

}


.threeTxt p {
   font-size: 20px;
}

.btnTwohold-2 {
   display: flex;
   height: 100px;
   width: 175px;
   justify-content: center;
   align-items: center;
}

.btnBack-2 {
   position: absolute;
   height: 60px;
   width: 150px;
   transform: translate(-5px, 5px);
   background: snow;
   border: 2px solid black;
}

.btnUp-2 {
   position: absolute;
   height: 60px;
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: snow;
   border: 3px solid black;
   transition: 0.7s ease-in-out;
   font-size: 12px;
   color: black;

}

.btnUp-2:hover {
   background: black;
   color: white;
   box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/* ---------------------------------------contact------------------------------------- */
.membership-holder {
   display: flex;
   height: 400px;
   justify-content: center;
   gap: 100px;
   align-items: center;
}

.membership-holder .memberCard {
   position: relative;
   width: 300px;
   cursor: pointer;
}

.membership-holder .memberCard .Name {
   position: relative;
   padding: 10px 0;
   border: 2px solid black;
   text-align: center;
   background: white;
   z-index: 1;
}

.membership-holder .memberCard .Name h2 {
   font-weight: 500;
   font-size: 30px;
}

.membership-holder .memberCard .memberDetails {
   position: relative;
   text-align: center;
   height: 0px;
   transition: 0.6s ease-in-out;
   border: 2px solid black;
   margin-top: -2px;
   top: -2px;
   overflow: hidden;
}

.membership-holder .memberCard:hover .memberDetails {
   height: 350px;
}

.membership-holder .memberCard .memberDetails .memberContent {
   position: relative;
   padding: 40px 20px;
}

.membership-holder .memberCard .memberDetails .memberContent h2 {
   font-size: 50px;
   font-weight: 500;
}

.membership-holder .memberCard .memberDetails .memberContent h2 span {
   font-size: 15px;
}

.membership-holder .memberCard .memberDetails .memberContent a {
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   margin-top: 15px;
   background-color: rgba(0, 0, 0, 0.9);
   color: white;
   text-decoration: none;
   transition: 0.5s ease-in-out;
   border-radius: 20px;
}

.membership-holder .memberCard .memberDetails .memberContent a:hover {
   background-color: white;
   color: black;
}

.membership-holder .memberCard:nth-child(1) .Name {
   background: rgba(0, 165, 227, 0.95);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.membership-holder .memberCard:nth-child(1) .memberDetails {
   background: rgba(0, 165, 227, 0.5);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.membership-holder .memberCard:nth-child(2) .Name {
   background: rgba(207, 248, 0, 0.95);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.membership-holder .memberCard:nth-child(2) .memberDetails {
   background: rgba(207, 248, 0, 0.5);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.membership-holder .memberCard:nth-child(3) .Name {
   background: rgba(255, 87, 104, 0.95);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.membership-holder .memberCard:nth-child(3) .memberDetails {
   background: rgba(255, 87, 104, 0.5);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-contact {
   margin: 30px;
   z-index: 0;
   width: 95%;
   height: 700px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   font-family: 'Labrada', serif;
   font-family: 'Shantell Sans', cursive;
   background: rgba(0, 0, 0, 0.09);
   border-radius: 16px;
   backdrop-filter: blur(7.6px);
   -webkit-backdrop-filter: blur(7.6px);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
   border-radius: 20px;
}

.left {
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
}

.left h1 {
   font-size: 45px;
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   margin: 10px;
}

.whereabouts {
   flex-basis: 25%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.whereabouts span {
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.whereabouts span i {
   font-size: 25px;
   color: gold;
}


.rating-holder {
   flex-basis: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.rate {
   width: 130px;
   height: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.rate img {
   position: absolute;
   width: 130px;
   height: 130px;
   border-radius: 50%;
   transition: 0.5s ease-in-out;
}

.image:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.final-img-div {
   flex-basis: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.final-img-div img {
   width: 550px;
   height: 300px;
   position: relative;
}

.onecircle {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
   position: absolute;
   transform: translate(80px, 50px);
}

.right {
   flex-basis: 50%;
}

.head-para {

   margin: 20px;

}

.right h2 {
   color: #f6d365;
   font-size: 30px;
}

.right p {
   color: white;
   font-size: 20px;
}


.input {
   width: 300px;
   height: 50px;
   border-radius: 5px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   margin: 10px;
   font-size: 20px;
}

.input::placeholder {
   color: white;
}

.message {
   width: 625px;
   height: 150px;
   border-radius: 5px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   margin: 10px;
   font-size: 20px;
}

.message::placeholder {
   color: white;
}

.submit {

   width: 125px;
   height: 50px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   border-radius: 5px;
   margin: 10px;
   color: white;
   font-size: 20px;
}



.end {
   margin-top: 30px;
   border: 1px solid rgba(255, 255, 255, .25);
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(15px);
   color: white;
   padding: 20px;
   display: flex;
   justify-content: center;
   font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.end i {
   color: red;
}