@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Zeyada&display=swap');

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mynerve', cursive;
}

body {
    background-image: url(images/abstract2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-below {
    position: absolute;
    width: 500px;
    height: 600px;
    transform: rotate(10deg);
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-radius: 16px;
}

.card-middle {
    position: absolute;
    width: 500px;
    height: 600px;
    transform: rotate(-10deg);
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    border-radius: 16px;
}

.card {
    position: absolute;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.card form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    gap: 20px;
}

.card form h1 {
    font-family: 'Rocher';
    font-size: 50px;
}

.inputDiv {
    display: flex;
    width: 350px;
    height: 45px;
}

.inputDivsmall {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.inputDivsmall i {
    color: white;
    font-size: 22px;
}

.txt-control {
    flex-basis: 85%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.62);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: white;
    font-size: 20px;
}

.txt-control::placeholder {
    color: white;
}

.cf {
    display: flex;
    width: 350px;
    height: 50px;
}

.check {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    color: black;
    font-size: 20px;
}

.forgot {
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.forgot a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.login {
    width: 150px;
    height: 45px;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.login:hover {
    color: black;

    background: rgba(255, 255, 255, 0.71);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.signup a {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}