<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-page.css') }}">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="card-below">

        </div>
        <div class="card-middle">

        </div>
        <div class="card">
            <form action="/home">
                <h1>ANIME-HUB</h1>
                <div class="inputDiv">
                    <div class="inputDivsmall">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <input type="text" class="txt-control" required placeholder="Email or Username">
                </div>
                <div class="inputDiv">
                    <div class="inputDivsmall">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <input type="password" class="txt-control" required placeholder="Password">
                </div>
                <div class="cf">
                    <div class="check">
                        <input type="checkbox" class="checkbox">
                        <p>Remember me</p>
                    </div>
                    <div class="forgot">
                        <a href="">
                            <p>Fogot Password</p>
                        </a>
                    </div>
                </div>
                <input type="submit" class="login" value="Login">
                <div class="signup">
                    <a href="/signup">
                        <p>Don't Have An Account? Sign-Up</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>