<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mood.css') }}">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>

</head>

<body>
    <div id="header">
        <nav>
            <div class="nav-container-logo">
                <ul>
                    <li><a href="">
                            <h1>ANIME HUB</h1>
                        </a></li>
                </ul>
            </div>
            <div class="nav-container-left">
                <ul>
                    <li><a href="/home">
                            <p>Home</p>
                        </a></li>
                    <li><a href="#trending">
                            <p>Trending</p>
                        </a></li>
                    <li><a href="#recommendation">
                            <p>Recommendation</p>
                        </a></li>
                    <li><a href="#blog">
                            <p>Blog</p>
                        </a></li>
                    <li><a href="#contact">
                            <p>Contact</p>
                        </a></li>
                </ul>
            </div>
            <div class="nav-container-right">
                <ul>
                    <li class="btn"><a href="/" class="login">
                            <p>Login</p>
                        </a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="circle-left">

        </div>
        <div class="circle-middle">

        </div>
        <div class="circle-right">

        </div>
        <div class="circle-text">
            <h1>RECOMMENDATIONS</h1>
            <p>Here Are Some Recommendations</p>
        </div>
    </div>
    
    <div class="flex">
        {% for i in Name %}
        <div class="recommends">
            <div class="class-box box-card slide-in">
                <div class="image-box">
                    <img src="static\images\recomend.jpg">
                </div>
                <div class="values">
                    <div>
                        <h2>{{i}}</h2>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>
        <div class="end">
            <p>Made With <i class="fa-solid fa-heart"></i></p>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>